{% extends "base.html" %}

{% block content %}
<h2>Tentang Saya</h2>
<p>Seorang mahasiswa semester 2 Program Studi Teknik Elektro di Universitas Padjadjaran yang saat ini berdomisili di Jatinangor. Merupakan alumni dari MAN 4 Jakarta, dengan ketertarikan kuat dalam bidang pemrograman komputer dan kelistrikan. Memiliki semangat untuk terus mengembangkan keterampilan teknis serta berkontribusi dalam berbagai proyek teknologi, baik di dalam maupun di luar lingkungan akademik. Selain itu, aktif memperdalam pengetahuan di bidang teknologi informasi, sistem kelistrikan, serta berpartisipasi dalam komunitas atau kegiatan yang berkaitan dengan inovasi dan pengembangan teknologi.</p>

 <section class="gallery">
    <img src="{{ url_for('static', filename='gambar/apip.jpg') }}" alt="Apip" />
</section>
{% endblock %}